body { color: black; 
       text-align:center;
       font-family: 'Times New Roman', Times, serif;
       background-color: antiquewhite;
       

    }
.main-nav { padding:10px; 
          text-align:center ;
          color :yellowgreen; 
          background: black; 
        position: fixed;
        width:100%; 
        border-radius: 10%;}
    
  
a { text-decoration: none; color: yellowgreen}

a:hover { color: rgb(106, 145, 30); }


    .nav {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
      }
    
      .nav a {
        transition: all .5s;
      }

header .picture 
 {border-radius: 25%;
  border:5px  solid black;
  width:100px ;
  height:100px;
  margin-top: 60px
     
 }    
 header .picture:hover {
    transform: scale(1.3) rotate(15deg); }

.experience
{display:block; margin: auto ;}

.experience {
    border: 1px  solid black;
    padding : 2px ; color: yellowgreen;
    background-color: black;
    border-radius : 5px;
    width:180px
}
.description { margin: 30px; padding: 20px 20px 20px; ; max-width: fit-content; 
    background-color:rgb(212, 197, 177); 

}
.github 
{ display: block; margin: auto;}

.github { border: 1px solid black  ;
    padding: 2px; color: yellowgreen;
    background-color: black;
    border-radius: 5px; width: 180px; 


}
.logo:hover { transform: scale(1.3) rotate( 20deg);}

.copyright { text-align: left}

        
 
    
    
        
